<h1>Inquiries</h1>

<table border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Subject</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <% @inquiries.each do |inquiry| %>
      <tr>
        <td><%= inquiry.id %></td>
        <td><%= inquiry.user.name %></td>
        <td><%= inquiry.subject %></td>
        <td><%= inquiry.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "Users", users_path %></p>
